In [2]:
import numpy as np
import pandas as pd

In [167]:
StatesToRegions = {'AK': 'O','AL': 'S','AR': 'S','AS': 'O','AZ': 'W','CA': 'W','CO': 'W','CT': 'N','DC': 'N','DE': 'N','FL': 'S','GA': 'S','GU': 'O','HI': 'O',
                   'IA': 'M','ID': 'W','IL': 'M','IN': 'M','KS': 'M','KY': 'S','LA': 'S','MA': 'N','MD': 'N','ME': 'N','MI': 'W','MN': 'M','MO': 'M','MP': 'O',
                   'MS': 'S','MT': 'W','NA': 'O','NC': 'S','ND': 'M','NE': 'W','NH': 'N','NJ': 'N','NM': 'W','NV': 'W','NY': 'N','OH': 'M','OK': 'S','OR': 'W',
                   'PA': 'N','PR': 'O','RI': 'N','SC': 'S','SD': 'M','TN': 'S','TX': 'S','UT': 'W','VA': 'S','VI': 'O','VT': 'N','WA': 'W','WI': 'M','WV': 'S','WY': 'W'}

StatesToAbbrevs = {'Alabama': 'AL','Alaska': 'AK','Arizona': 'AZ','Arkansas': 'AR','California': 'CA','Colorado': 'CO','Connecticut': 'CT','Delaware': 'DE',
                   'District of Columbia': 'DC','Florida': 'FL','Georgia': 'GA','Hawaii': 'HI','Idaho': 'ID','Illinois': 'IL','Indiana': 'IN','Iowa': 'IA','Kansas': 
                   'KS','Kentucky': 'KY','Louisiana': 'LA','Maine': 'ME','Maryland': 'MD','Massachusetts': 'MA','Michigan': 'MI','Minnesota': 'MN','Mississippi': 'MS',
                   'Missouri': 'MO','Montana': 'MT','Nebraska': 'NE','Nevada': 'NV','New Hampshire': 'NH','New Jersey': 'NJ','New Mexico': 'NM','New York': 'NY',
                   'North Carolina': 'NC','North Dakota': 'ND','Northern Mariana Islands':'MP','Ohio': 'OH','Oklahoma': 'OK','Oregon': 'OR','Palau': 'PW',
                   'Pennsylvania': 'PA','Puerto Rico': 'PR','Rhode Island': 'RI','South Carolina': 'SC','South Dakota': 'SD','Tennessee': 'TN','Texas': 'TX','Utah': 'UT',
                   'Vermont': 'VT','Virgin Islands': 'VI','Virginia': 'VA','Washington': 'WA','West Virginia': 'WV','Wisconsin': 'WI','Wyoming': 'WY',
}

#

In [172]:
final_output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'])

## Retention

In [173]:
# load in the data
filename = 'Retention_2011-12_National.csv'
f = pd.read_csv(filename)

# create temporary output dataframe
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index = range(len(f)))

# set the description, start year, end year (based on the *dataset* that we are actively merging)
Output.Description = ['Students Retained']*len(f)
StartYear, EndYear = 2011, 2012
Output.StartYear = [StartYear]*len(f)
Output.EndYear = [EndYear]*len(f)

# set other columns that are easy to set 
Output.Grade = f.Grade
Output.Value = f.Number
Output.Percent = f.Percent
Output.Source = filename

# others that are harder to set
# first, recode the gender variable (it sounds better as 'all')
gender = np.where(f.Gender=='total','all', f.Gender) 
Output.Gender = gender

# specify the region based on the StatesToRegions dictionary in the 2nd cell
Output.Country = ['US']*len(f)
state = np.where(f.State=='KA','KS',f.State)
Output.State = state
Output.Region = [StatesToRegions[s] for s in state]

# recode the 'Attribute' field from the Retention dataset to separate disability from the race data
# so these columns are T/F values
Output.Disabilities = (np.array(f.Attribute) =='Students with Disabilities (all)') | (np.array(f.Attribute)=='Students With Disabilities Served Only Under Section 504') | (np.array(f.Attribute)=='Students With Disabilities Served Under IDEA') | (np.array(f.Attribute)=='English Language Learners with Disabilities')
Output.IDEA = np.array(f.Attribute) == 'Students With Disabilities Served Under IDEA'
Output.s504 = np.array(f.Attribute) == 'Students With Disabilities Served Only Under Section 504'
Output.ELL = np.array(f.Attribute) == 'English Language Learners'

# now that we have saved IDEA/s504/ELL data, recode the Attribute field to save the rest under RaceEthnicity
attribute = np.where(f.Attribute=='Students With Disabilities Served Only Under Section 504','all',f.Attribute)
attribute = np.where(attribute=='Students With Disabilities Served Under IDEA', 'all', attribute)
attribute = np.where(attribute=='English Language Learners', 'all', attribute)
attribute = np.where(attribute=='Total Students', 'all',attribute)
Output.RaceEthnicity = attribute

Output.head(5)
final_output = pd.concat([final_output, Output])
print(len(final_output),'rows')
final_output.head(5)

21538 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,Students Retained,Kindergarten,all,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,259,100,Retention_2011-12_National.csv
1,Students Retained,Kindergarten,American Indian or Alaska Native,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,98,37.8,Retention_2011-12_National.csv
2,Students Retained,Kindergarten,Asians,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,13,5,Retention_2011-12_National.csv
3,Students Retained,Kindergarten,Hispanic or Latino of any race,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,17,6.6,Retention_2011-12_National.csv
4,Students Retained,Kindergarten,Black or African American,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,6,2.3,Retention_2011-12_National.csv

## AP Participation

In [174]:
# load in the data
filename = 'AP_Participation_2011-12_National.csv'
f = pd.read_csv(filename)
# create temporary output dataframe
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index = range(len(f)))

# set the description, start year, end year (based on the *dataset* that we are actively merging)
Output.Description = list(map(''.join, zip(['Students Enrolled in ']*len(f), f['AP Enrollment'])))
StartYear, EndYear = 2011, 2012
Output.StartYear = [StartYear]*len(f)
Output.EndYear = [EndYear]*len(f)

# set other columns that are easy to set 
#Output.Grade = Participation.Grade # no grade data here
Output.Value = f.Number
Output.Percent = f.Percent
Output.Source = filename

# others that are harder to set
# first, recode the gender variable (it sounds better as 'all')
gender = np.where(f.Gender=='Total','all', f.Gender) 
gender = np.where(gender=='Male', 'male', gender)
gender = np.where(gender=='Female', 'female', gender)
Output.Gender = gender

# specify the region based on the StatesToRegions dictionary in the 2nd cell
Output.Country = ['US']*len(f)
state = np.where(f.State=='KA','KS',f.State)
Output.State = state
Output.Region = [StatesToRegions[s] for s in state]

# recode the 'Attribute' field from the Retention dataset to separate disability from the race data
# so these columns are T/F values
Output.Disabilities = np.array(f.Attribute) == 'Students With Disabilities Served Under IDEA'
Output.IDEA = np.array(f.Attribute) == 'Students With Disabilities Served Under IDEA'
# Output.s504 = np.array(f.Attribute) == 'Students With Disabilities Served Only Under Section 504' # no 504 data in this dataset
Output.ELL = np.array(f.Attribute) == 'English Language Learners'

# now that we have saved IDEA/s504/ELL data, recode the Attribute field to save the rest under RaceEthnicity
# attribute = np.where(f.Attribute=='Students With Disabilities Served Only Under Section 504','all',f.Attribute)
attribute = np.where(f.Attribute=='Students With Disabilities Served Under IDEA', 'all', f.Attribute)
attribute = np.where(attribute=='English Language Learners', 'all', attribute)
attribute = np.where(attribute=='Total Students', 'all',attribute)
Output.RaceEthnicity = attribute

Output.head(5)
final_output = pd.concat([final_output, Output])
print(len(final_output),'rows')
final_output.head(5)

28803 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,Students Retained,Kindergarten,all,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,259,100,Retention_2011-12_National.csv
1,Students Retained,Kindergarten,American Indian or Alaska Native,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,98,37.8,Retention_2011-12_National.csv
2,Students Retained,Kindergarten,Asians,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,13,5,Retention_2011-12_National.csv
3,Students Retained,Kindergarten,Hispanic or Latino of any race,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,17,6.6,Retention_2011-12_National.csv
4,Students Retained,Kindergarten,Black or African American,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,6,2.3,Retention_2011-12_National.csv

## Discipline

This one required some extra cleaning and re-coding since it was messier to begin with and had slightly different disability information

In [171]:
# load in the data
filename = 'Discipline_2011-2012_National.csv'
f = pd.read_csv(filename, encoding='latin')

da = np.array(f['Disciplinary Action'],dtype=str)

newda, gender = [], []
for s in da:
    if s.endswith('on females') or s.endswith('on Females'):
        newda.append(s[0:-11])
        gender.append('female')
    elif s.endswith('for females') or s.endswith('for Females') or s.endswith('for\xa0females'):
        newda.append(s[0:-12])
        gender.append('female')
    elif s.endswith('on males') or s.endswith('on Males'):
        newda.append(s[0:-9])
        gender.append('male')
    elif s.endswith('for males') or s.endswith('for Males') or s.endswith('for\xa0males'):
        newda.append(s[0:-10])
        gender.append('male')
    elif s.endswith('total') or s.endswith('Total'):
        newda.append(s[0:-6])
        gender.append('all')
        
newda = np.array(newda)

# create temporary output dataframe
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index = range(len(f)))


# set the description, start year, end year (based on the *dataset* that we are actively merging)
Output.Description = newda
StartYear, EndYear = 2011, 2012
Output.StartYear = [StartYear]*len(f)
Output.EndYear = [EndYear]*len(f)

# set other columns that are easy to set 
#Output.Grade = Participation.Grade # no grade data here
Output.Value = f.Number
Output.Percent = f.Percent
Output.Source = filename

# others that are harder to set
Output.Gender = gender

# specify the region based on the StatesToRegions dictionary in the 2nd cell
Output.Country = ['US']*len(f)
state = np.where(f.State=='KA','KS',f.State)
Output.State = state
Output.Region = [StatesToRegions[s] for s in state]

# recode the 'Attribute' field from the Retention dataset to separate disability from the race data
# so these columns are T/F values
Output.Disabilities = (np.array(f.Attribute) =='Students with Disabilities (all)') | (np.array(f.Attribute)=='Students with Disabilities (504)') | (np.array(f.Attribute)=='Students with Disabilities (IDEA)') | (np.array(f.Attribute)=='English Language Learners with Disabilities')
Output.IDEA = np.array(f.Attribute) == 'Students with Disabilities (IDEA)'
Output.s504 = np.array(f.Attribute) == 'Students with Disabilities (504)' 
Output.ELL = (np.array(f.Attribute) == 'English Language Learners') | (np.array(f.Attribute)=='English Language Learners with Disabilities')

# now that we have saved IDEA/s504/ELL data, recode the Attribute field to save the rest under RaceEthnicity
# attribute = np.where(f.Attribute=='Students With Disabilities Served Only Under Section 504','all',f.Attribute)
attribute = np.where(f.Attribute=='Students with Disabilities (all)','all',f.Attribute)
attribute = np.where(attribute=='Students with Disabilities (504)','all',attribute)
attribute = np.where(attribute=='Students with Disabilities (IDEA)','all',attribute)
attribute = np.where(attribute=='English Language Learners with Disabilities','all',attribute)
attribute = np.where(attribute=='English Language Learners', 'all', attribute)



#### need to fix these attributes... 

Output.RaceEthnicity = attribute

Output.head(5)
final_output = pd.concat([final_output, Output])
print(len(final_output),'rows')
final_output.head(5)

46953 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,Students Retained,Kindergarten,all,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,259,100,Retention_2011-12_National.csv
1,Students Retained,Kindergarten,American Indian or Alaska Native,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,98,37.8,Retention_2011-12_National.csv
2,Students Retained,Kindergarten,Asians,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,13,5,Retention_2011-12_National.csv
3,Students Retained,Kindergarten,Hispanic or Latino of any race,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,17,6.6,Retention_2011-12_National.csv
4,Students Retained,Kindergarten,Black or African American,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,6,2.3,Retention_2011-12_National.csv

In [175]:


filenames = ['Students with Disabilities.xlsx', 'Male Students with Disabilities.xlsx', 'Female Students with Disabilities.xlsx',
            'Students without Disabilities.xlsx', 'Male Students without Disabilities.xlsx', 'Female Students without Disabilities.xlsx',
            'Students with and without Disabilities.xlsx', 'Male Students with and without Disabilities.xlsx', 'Female Students with and without Disabilities.xlsx']
genders = ['all', 'male', 'female', 'all', 'male', 'female', 'all', 'male', 'female']
disabilities = ['with', 'with', 'with', 'without', 'without', 'without', 'all', 'all', 'all']


disc_output = pd.DataFrame(columns = ['Description','State','Gender','RaceEthnicity','Disabilities','IDEA','s504','ELL','Value','Percent','StartYear','EndYear','Country','Region','Source'])

for filename, gender, disability in zip(filenames,genders,disabilities):
    print(filename)
    xls = pd.ExcelFile(filename)
    sheets = xls.sheet_names
    sheets = sheets[1:]
    Output = pd.DataFrame(columns=['Description', 'State', 'Gender','Attribute', 'Value', 'Percent', 'Source'])

    for sheet in sheets:
        df = pd.read_excel(xls, sheet)

        df = df[5:]
        df = df[:52]
        if disability == 'with':
            df.columns = ['Punishment', 'Location', 'Students With Disabilities','Students With Disabilities Served Only Under Section 504 Number', 'Students With Disabilities Served Only Under Section 504 Percent',
                          'Students With Disabilities Served Under IDEA Number', 'Students With Disabilities Served Under IDEA Percent', 'American Indian or Alaska Native IDEA Number', 
                           'American Indian or Alaska Native IDEA Percent', 'Asian IDEA Number', 'Asian IDEA Percent', 'Hispanic or Latino of any race IDEA Number',
                            'Hispanic or Latino of any race IDEA Percent', 'Black or African American IDEA Number', 'Black or African American IDEA Percent', 'White IDEA Number', 
                           'White IDEA Percent', 'Native Hawaiian or Other Pacific Islander IDEA Number', 'Native Hawaiian or Other Pacific Islander IDEA Percent', 'Two or more races IDEA Number',
                           'Two or more races IDEA Percent', 'English Language Learners with Disabilities Number', 'English Language Learners with Disabilities Percent', 'Number of Schools', 
                           'Percentage Reporting']
        elif disability == 'without':
            df.columns = ['Punishment', 'Location', 'Students Without Disabilities', 'American Indian or Alaska Native IDEA Number', 
                           'American Indian or Alaska Native IDEA Percent', 'Asian IDEA Number', 'Asian IDEA Percent', 'Hispanic or Latino of any race IDEA Number',
                            'Hispanic or Latino of any race IDEA Percent', 'Black or African American IDEA Number', 'Black or African American IDEA Percent', 'White IDEA Number', 
                           'White IDEA Percent', 'Native Hawaiian or Other Pacific Islander IDEA Number', 'Native Hawaiian or Other Pacific Islander IDEA Percent', 'Two or more races IDEA Number',
                           'Two or more races IDEA Percent', 'English Language Learners with Disabilities Number', 'English Language Learners with Disabilities Percent', 'Number of Schools', 
                           'Percentage Reporting']
        elif disability == 'all':
            df.columns = ['Punishment', 'Location', 'Students With Disabilities','ignore_1', 'ignore_2', 'ignore_3', 'ignore_4', 'American Indian or Alaska Native IDEA Number', 
                           'American Indian or Alaska Native IDEA Percent', 'Asian IDEA Number', 'Asian IDEA Percent', 'Hispanic or Latino of any race IDEA Number',
                            'Hispanic or Latino of any race IDEA Percent', 'Black or African American IDEA Number', 'Black or African American IDEA Percent', 'White IDEA Number', 
                           'White IDEA Percent', 'Native Hawaiian or Other Pacific Islander IDEA Number', 'Native Hawaiian or Other Pacific Islander IDEA Percent', 'Two or more races IDEA Number',
                           'Two or more races IDEA Percent', 'English Language Learners with Disabilities Number', 'English Language Learners with Disabilities Percent', 'Number of Schools', 
                           'Percentage Reporting']
        df = df.drop(['Number of Schools', 'Percentage Reporting'], axis=1)



        cols_n = np.append(['Punishment', 'Location'], [c for c in df.columns if c.endswith('Number')])
        cols_p = np.append(['Punishment', 'Location'], [c for c in df.columns if c.endswith('Percent')])

        df_n = df[cols_n]
        df_p = df[cols_p]


        df_n = df_n.set_index(['Punishment', 'Location'])
        df_n = df_n.stack()
        df_n.index = df_n.index.rename('Attribute', level=2)
        df_n = df_n.reset_index()
        df_n.columns = ['Description', 'State', 'Attribute', 'Value']


        df_p = df_p.set_index(['Punishment', 'Location'])
        df_p = df_p.stack()
        df_p.index = df_p.index.rename('Attribute', level=2)
        df_p = df_p.reset_index()
        df_p.columns = ['Description', 'State', 'Attribute', 'Percent']


        df = df_n.join(df_p['Percent'])
        df = df[df.State!='United States']

        df.State = [StatesToAbbrevs[s] for s in df.State]

        attribute = [a[:-7] for a in list(df['Attribute'])]
        a_new = []
        for a in attribute:
            if a.endswith('Under IDEA'):
                a_new.append(a)
            elif a.endswith('IDEA'):
                a_new.append(a[:-4])
            else:
                a_new.append(a)


        df.Attribute = a_new
        df.insert(3, 'Gender', [gender]*len(df))
        df.insert(6, 'Source', [filename+'_'+sheet]*len(df))

        Output = pd.concat([Output,df], sort=False)


    StartYear, EndYear = 2011, 2012
    Output.insert(6, 'StartYear', [StartYear]*len(Output))
    Output.insert(7, 'EndYear', [EndYear]*len(Output))


    # specify the region based on the StatesToRegions dictionary in the 2nd cell
    Output.insert(8, 'Country', ['US']*len(Output))
    Output.insert(9, 'Region', [StatesToRegions[s] for s in Output.State])

    # recode the 'Attribute' field from the Retention dataset to separate disability from the race data
    # so these columns are T/F values
    if disability == 'with':
        Output.insert(4,'Disabilities',[True]*len(Output))
    elif disability == 'without':
        Output.insert(4,'Disabilities',[False]*len(Output))
    elif disability == 'all':
        Output.insert(4,'Disabilities',[np.nan]*len(Output))
        
    if disability == 'with':
        idea = (np.array(Output.Attribute) != 'Students With Disabilities Served Only Under Section 504')
    else:
        idea = np.array(Output.Attribute) == 'Students With Disabilities Served Under IDEA'
    
    Output.insert(5, 'IDEA', idea)
    Output.insert(6, 's504', np.array(Output.Attribute) == 'Students With Disabilities Served Only Under Section 504')
    Output.insert(7, 'ELL', (np.array(Output.Attribute) == 'English Language Learners') | (np.array(Output.Attribute)=='English Language Learners with Disabilities'))

    # now that we have saved IDEA/s504/ELL data, recode the Attribute field to save the rest under RaceEthnicity
    attribute = np.where(Output.Attribute== 'Students With Disabilities Served Only Under Section 504','all',Output.Attribute)
    attribute = np.where(attribute=='Students With Disabilities Served Under IDEA','all',attribute)
    attribute = np.where(attribute=='English Language Learners with Disabilities','all',attribute)
    attribute = np.where(attribute=='English Language Learners', 'all', attribute)

    Output.insert(4, 'RaceEthnicity', attribute)
    Output = Output.drop(['Attribute'], axis=1)
    disc_output = pd.concat([disc_output, Output], sort=False)
    
final_output = pd.concat([final_output, disc_output], sort=False)
print(len(final_output),'rows')
final_output.tail(10)

Students with Disabilities.xlsx
Male Students with Disabilities.xlsx
Female Students with Disabilities.xlsx
Students without Disabilities.xlsx
Male Students without Disabilities.xlsx
Female Students without Disabilities.xlsx
Students with and without Disabilities.xlsx
Male Students with and without Disabilities.xlsx
Female Students with and without Disabilities.xlsx
72561 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
406,School-related arrests,NaN,Two or more races,female,NaN,False,False,NaN,False,NaN,...,NaN,US,M,WI,NaN,2011,2012,12,1.92,Female Students with and without Disabilities....
407,School-related arrests,NaN,all,female,NaN,False,False,NaN,True,NaN,...,NaN,US,M,WI,NaN,2011,2012,16,2.55183,Female Students with and without Disabilities....
408,School-related arrests,NaN,American Indian or Alaska Native,female,NaN,False,False,NaN,False,NaN,...,NaN,US,W,WY,NaN,2011,2012,0,0,Female Students with and without Disabilities....
409,School-related arrests,NaN,Asian,female,NaN,False,False,NaN,False,NaN,...,NaN,US,W,WY,NaN,2011,2012,0,0,Female Students with and without Disabilities....
410,School-related arrests,NaN,Hispanic or Latino of any race,female,NaN,False,False,NaN,False,NaN,...,NaN,US,W,WY,NaN,2011,2012,4,40,Female Students with and without Disabilities....
411,School-related arrests,NaN,Black or African American,female,NaN,False,False,NaN,False,NaN,...,NaN,US,W,WY,NaN,2011,2012,0,0,Female Students with and without Disabilities....
412,School-related arrests,NaN,White,female,NaN,False,False,NaN,False,NaN,...,NaN,US,W,WY,NaN,2011,2012,6,60,Female Students with and without Disabilities....
413,School-related arrests,NaN,Native Hawaiian or Other Pacific Islander,female,NaN,False,False,NaN,False,NaN,...,NaN,US,W,WY,NaN,2011,2012,0,0,Female Students with and without Disabilities....
414,School-related arrests,NaN,Two or more races,female,NaN,False,False,NaN,False,NaN,...,NaN,US,W,WY,NaN,2011,2012,0,0,Female Students with and without Disabilities....
415,School-related arrests,NaN,all,female,NaN,False,False,NaN,True,NaN,...,NaN,US,W,WY,NaN,2011,2012,0,0,Female Students with and without Disabilities....

## Juveniles

In [176]:
# load in the data
filename = 'Juveniles_2015_National.csv'
f = pd.read_csv(filename)
# create temporary output dataframe
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index = range(len(f)))

# set the description, start year, end year (based on the *dataset* that we are actively merging)
desc = np.array(list(map(''.join, zip(['Number of juveniles age ']*len(f), f.Age))))
desc = np.where(desc=='Number of juveniles age Total', 'Number of juveniles',desc)
Output.Description = desc
StartYear, EndYear = 2015, 2015
Output.StartYear = StartYear
Output.EndYear = EndYear

# set other columns that are easy to set 
#Output.Grade = Participation.Grade # no grade data here
Output.Value = f.Number
# Output.Percent = f.Percent
Output.Source = filename

# others that are harder to set
# first, recode the gender variable (it sounds better as 'all')
# gender = np.where(f.Gender=='Total','all', f.Gender) 
# gender = np.where(gender=='Male', 'male', gender)
# gender = np.where(gender=='Female', 'female', gender)
# Output.Gender = gender

# specify the region based on the StatesToRegions dictionary in the 2nd cell
Output.Country = ['US']*len(f)
state = np.where(f.State=='KA','KS',f.State)
Output.State = state
Output.Region = [StatesToRegions[s] for s in state]

# recode the 'Attribute' field from the Retention dataset to separate disability from the race data
# so these columns are T/F values
# Output.IDEA = np.array(f.Attribute) == 'Students With Disabilities Served Under IDEA'
# Output.s504 = np.array(f.Attribute) == 'Students With Disabilities Served Only Under Section 504' 
# Output.ELL = np.array(f.Attribute) == 'English Language Learners'

# now that we have saved IDEA/s504/ELL data, recode the Attribute field to save the rest under RaceEthnicity
# attribute = np.where(f.Attribute=='Students With Disabilities Served Only Under Section 504','all',f.Attribute)
# attribute = np.where(f.Attribute=='Students With Disabilities Served Under IDEA', 'all', f.Attribute)
# attribute = np.where(attribute=='English Language Learners', 'all', attribute)
attribute = np.where(f.Race=='Total', 'all',f.Race)
Output.RaceEthnicity = attribute

Output.head(5)
final_output = pd.concat([final_output, Output])
print(len(final_output),'rows')
final_output.head(5)

75361 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,Students Retained,Kindergarten,all,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,259,100,Retention_2011-12_National.csv
1,Students Retained,Kindergarten,American Indian or Alaska Native,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,98,37.8,Retention_2011-12_National.csv
2,Students Retained,Kindergarten,Asians,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,13,5,Retention_2011-12_National.csv
3,Students Retained,Kindergarten,Hispanic or Latino of any race,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,17,6.6,Retention_2011-12_National.csv
4,Students Retained,Kindergarten,Black or African American,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,6,2.3,Retention_2011-12_National.csv

# Restraint & Seclusion

In [177]:
# load in the data
filename = 'Restraint_Seclusion_2011-12_National.csv'
f = pd.read_csv(filename)
# create temporary output dataframe
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index = range(len(f)))

# set the description, start year, end year (based on the *dataset* that we are actively merging)
desc = np.array(list(map(''.join, zip(['Students experiencing ']*len(f), f['Restraint or Seclusion Type']))))
Output.Description = desc
StartYear, EndYear = 2011, 2012
Output.StartYear = StartYear
Output.EndYear = EndYear

# set other columns that are easy to set 
#Output.Grade = Participation.Grade # no grade data here
Output.Value = f.Number
Output.Percent = f.Percent
Output.Source = filename

# others that are harder to set
# first, recode the gender variable (it sounds better as 'all')
gender = np.where(f.Gender=='Total','all', f.Gender) 
gender = np.where(gender=='Male', 'male', gender)
gender = np.where(gender=='Female', 'female', gender)
Output.Gender = gender

# specify the region based on the StatesToRegions dictionary in the 2nd cell
Output.Country = ['US']*len(f)
state = np.where(f.State=='KA','KS',f.State)
Output.State = state
Output.Region = [StatesToRegions[s] for s in state]

# recode the 'Attribute' field from the Retention dataset to separate disability from the race data
# so these columns are T/F values
Output.Disabilities = (np.array(f.Attribute) =='Students With Disabilities Served Under IDEA') | (np.array(f.Attribute)=='Students With Disabilities Served Only Under Section 504')
Output.IDEA = np.array(f.Attribute) == 'Students With Disabilities Served Under IDEA'
Output.s504 = np.array(f.Attribute) == 'Students With Disabilities Served Only Under Section 504'
Output.ELL = np.array(f.Attribute) == 'English Language Learners'

# now that we have saved IDEA/s504/ELL data, recode the Attribute field to save the rest under RaceEthnicity
attribute = np.where(f.Attribute=='Students With Disabilities Served Only Under Section 504','all',f.Attribute)
attribute = np.where(attribute=='Students With Disabilities Served Under IDEA', 'all', attribute)
attribute = np.where(attribute=='English Language Learners', 'all', attribute)
attribute = np.where(attribute=='Total Students', 'all',attribute)
Output.RaceEthnicity = attribute

Output.head(5)
final_output = pd.concat([final_output, Output])
print(len(final_output),'rows')
final_output.head(5)

80230 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,Students Retained,Kindergarten,all,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,259,100,Retention_2011-12_National.csv
1,Students Retained,Kindergarten,American Indian or Alaska Native,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,98,37.8,Retention_2011-12_National.csv
2,Students Retained,Kindergarten,Asians,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,13,5,Retention_2011-12_National.csv
3,Students Retained,Kindergarten,Hispanic or Latino of any race,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,17,6.6,Retention_2011-12_National.csv
4,Students Retained,Kindergarten,Black or African American,all,False,False,False,NaN,False,NaN,...,NaN,US,O,AK,NaN,2011,2012,6,2.3,Retention_2011-12_National.csv

# Arrests

In [178]:
# load in the data
filename = 'Arrests_2011-2012_National.csv'
f = pd.read_csv(filename)
# create temporary output dataframe
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'])

for state, year in zip(f.STATE, f.YEAR):   
    f_temp = f[(f.STATE==state)&(f.YEAR==year)]
    keys = f.keys()[2:]
    
    values = []
    for key in keys:
        try:
            value = float(f_temp[key].iloc[0])
        except:
            print(state, year, key)
            raise
        values.append(value)
    
    Output_temp = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index = range(len(keys)))
    
    desc = np.array(list(map(''.join, zip(['Arrests for ']*len(keys), keys))))
    desc = np.where(desc=='Arrests for TeenPop', 'Teen Population', desc)
    desc = np.where(desc=='Arrests for PCIndex', 'PCIndex', desc)
    desc = np.where(desc=='Arrests for VCIndex', 'VCIndex', desc)
    desc = np.where(desc=='Arrests for AllOther', 'All Other Arrests', desc)
    
    Output_temp.Description = desc
    Output_temp.StartYear = year
    Output_temp.EndYear = year
    Output_temp.State = state
    Output_temp.Value = values
    Output_temp.Source = filename
    
    Output_temp.Country = 'US'
    Output_temp.Region = StatesToRegions[state]
    
    Output = pd.concat([Output, Output_temp])


Output
final_output = pd.concat([final_output, Output])
print(len(final_output),'rows')
final_output.tail(5)

99046 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
27,Arrests for Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,NaN,NaN,Arrests_2011-2012_National.csv
28,Arrests for StolenProperty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,471,NaN,Arrests_2011-2012_National.csv
29,Arrests for Vagrancy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,0,NaN,Arrests_2011-2012_National.csv
30,Arrests for Vandalism,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,1188,NaN,Arrests_2011-2012_National.csv
31,Arrests for Weapons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,1140,NaN,Arrests_2011-2012_National.csv

# General Population

In [179]:
# load in the data
filename = 'Population_Race_2015_National.csv'
f = pd.read_csv(filename)
# create temporary output dataframe
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index = range(len(f)))

# set the description, start year, end year (based on the *dataset* that we are actively merging)
Output.Description = "Population"
StartYear, EndYear = 2015, 2015
Output.StartYear = StartYear
Output.EndYear = EndYear

# set other columns that are easy to set 
#Output.Grade = Participation.Grade # no grade data here
Output.Value = f.Population
Output.Source = filename

# specify the region based on the StatesToRegions dictionary in the 2nd cell
Output.Country = ['US']*len(f)
state = np.where(f.State=='KA','KS',f.State)
Output.State = state
Output.Region = [StatesToRegions[s] for s in state]


# now that we have saved IDEA/s504/ELL data, recode the Attribute field to save the rest under RaceEthnicity
attribute = np.where(f.Race == 'Black','Black or African American', f.Race)
attribute = np.where(attribute == 'American Indian','American Indian or Alaska Native', attribute)
attribute = np.where(attribute == 'Total','all', attribute)
Output.RaceEthnicity = attribute

Output.head(5)
final_output = pd.concat([final_output, Output])
print(len(final_output),'rows')
final_output.tail(5)

99296 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
245,Population,NaN,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2015,2015,551912,NaN,Population_Race_2015_National.csv
246,Population,NaN,Black or African American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2015,2015,9878,NaN,Population_Race_2015_National.csv
247,Population,NaN,American Indian or Alaska Native,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2015,2015,17390,NaN,Population_Race_2015_National.csv
248,Population,NaN,Asian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2015,2015,6922,NaN,Population_Race_2015_National.csv
249,Population,NaN,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2015,2015,586102,NaN,Population_Race_2015_National.csv

## Note:

Still need to get the IA data for a lot of these in there... Missing IA academic year data (Retention, Restraint/Seclusion, Discipline, etc).

# Re-downloaded Iowa Data

I decided to re-download the iowa county data from the child wellbeing indicator / kids count data center [(here)](https://datacenter.kidscount.org/)

I did this because the data files in `\\storage\Groups\DASIL\Walden\Merged Iowa Data\` were in really bad shape and going to be very difficult to clean, and I was able to get a lot more data this way (all years, all counties, every child wellbeing indicator available). 

These are all the excel files I downloaded.

In [180]:
import glob
filenames = glob.glob('Iowa_downloaded/*')
filenames

['Iowa_downloaded\\Child abuse and neglect (per 1,000 children, age 0-17).xlsx',
 'Iowa_downloaded\\Child deaths (per 100,000 children, age 1-14).xlsx',
 'Iowa_downloaded\\Child immunization.xlsx',
 'Iowa_downloaded\\Child poverty.xlsx',
 'Iowa_downloaded\\Children receiving WIC.xlsx',
 'Iowa_downloaded\\Earned income tax credit.xlsx',
 'Iowa_downloaded\\Family investment program.xlsx',
 'Iowa_downloaded\\Food assistance.xlsx',
 'Iowa_downloaded\\Free or reduced-price lunch eligibility.xlsx',
 'Iowa_downloaded\\High school graduation.xlsx',
 'Iowa_downloaded\\Infant mortality (per 1,000 live births).xlsx',
 'Iowa_downloaded\\Low birth-weight.xlsx',
 'Iowa_downloaded\\Prenatal care.xlsx',
 'Iowa_downloaded\\Preschool.xlsx',
 'Iowa_downloaded\\Single parent families.xlsx',
 'Iowa_downloaded\\Student math test scores - 8th grade.xlsx',
 'Iowa_downloaded\\Student reading test scores - 4th grade.xlsx',
 'Iowa_downloaded\\Teen births.xlsx',
 'Iowa_downloaded\\Teen deaths (per 100,000 teens, age 15-19).xlsx',
 'Iowa_downloaded\\Teen unmarried births.xlsx',
 'Iowa_downloaded\\Unemployment.xlsx',
 'Iowa_downloaded\\Uninsured Children.xlsx']

In [182]:
np.unique(np.char.array(final_output.RaceEthnicity))

Child abuse and neglect (per 1,000 children, age 0-17)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

Child deaths (per 100,000 children, age 1-14)
Child immunization
Child poverty
Children receiving WIC
Earned income tax credit
Family investment program
Food assistance
Free or reduced-price lunch eligibility
High school graduation
Infant mortality (per 1,000 live births)
Low birth-weight
Prenatal care
Preschool
Single parent families
Student math test scores - 8th grade
Student reading test scores - 4th grade
Teen births
Teen deaths (per 100,000 teens, age 15-19)
Teen unmarried births
Unemployment
Uninsured Children
133550 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,Uninsured Children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,M,IA,Worth,2013 - 2017,2013 - 2017,NaN,0.044,Iowa_downloaded\Uninsured Children.xlsx
0,Uninsured Children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,M,IA,Wright,2008 - 2012,2008 - 2012,NaN,0.065,Iowa_downloaded\Uninsured Children.xlsx
0,Uninsured Children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,M,IA,Wright,2011 - 2015,2011 - 2015,NaN,0.025,Iowa_downloaded\Uninsured Children.xlsx
0,Uninsured Children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,M,IA,Wright,2012 - 2016,2012 - 2016,NaN,0.031,Iowa_downloaded\Uninsured Children.xlsx
0,Uninsured Children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,M,IA,Wright,2013 - 2017,2013 - 2017,NaN,0.025,Iowa_downloaded\Uninsured Children.xlsx

In [184]:
final_output.keys()

Index(['Description', 'Grade', 'RaceEthnicity', 'Gender', 'Disabilities',
       'IDEA', 's504', 'LEP', 'ELL', 'Credentials', 'Training', 'Security',
       'Country', 'Region', 'State', 'County', 'StartYear', 'EndYear', 'Value',
       'Percent', 'Source'],
      dtype='object')

In [185]:
np.unique(np.char.array(final_output.RaceEthnicity))

chararray([b'American Indian', b'American Indian or Alaska Native',
           b'Asian', b'Asians', b'Black', b'Black or African American',
           b'Hispanic', b'Hispanic or Latino of any race',
           b'Native Hawaiian or Other Pacific Islander', b'Other',
           b'Two or more races', b'White', b'all', b'nan'], dtype='|S42')

In [198]:
# recode the race data so it is properly grouped
final_output.RaceEthnicity = np.where(final_output.RaceEthnicity=='American Indian', 'American Indian or Alaska Native', final_output.RaceEthnicity)
final_output.RaceEthnicity = np.where(final_output.RaceEthnicity=='Asians', 'Asian', final_output.RaceEthnicity)
final_output.RaceEthnicity = np.where(final_output.RaceEthnicity=='Black', 'Black or African American', final_output.RaceEthnicity)
final_output.RaceEthnicity = np.where(final_output.RaceEthnicity=='Hispanic', 'Hispanic or Latino', final_output.RaceEthnicity)
final_output.RaceEthnicity = np.where(final_output.RaceEthnicity==b'Hispanic or Latino of any race', 'Hispanic or Latino', final_output.RaceEthnicity)
np.unique(np.char.array(final_output.RaceEthnicity))

chararray([b'American Indian or Alaska Native', b'Asian',
           b'Black or African American', b'Hispanic or Latino',
           b'Hispanic or Latino of any race',
           b'Native Hawaiian or Other Pacific Islander', b'Other',
           b'Two or more races', b'White', b'all', b'nan'], dtype='|S42')

In [190]:
final_output.to_csv('S2PP_Sept26_Hollis.csv')

In [199]:
for l in np.unique(final_output.Description):
    print(l)

All Other Arrests
Arrests for AggAss
Arrests for Arson
Arrests for Assaults
Arrests for Burglary
Arrests for CarTheft
Arrests for DUI
Arrests for Disorderly conduct
Arrests for Drugs
Arrests for Drunk
Arrests for Embezzle
Arrests for Family
Arrests for Forgery
Arrests for Fraud
Arrests for Gambling
Arrests for Liquor
Arrests for Loitering
Arrests for Murder
Arrests for Prostitution
Arrests for Rape
Arrests for Robbery
Arrests for Ruways
Arrests for Sex
Arrests for StolenProperty
Arrests for Theft
Arrests for Total Arrests
Arrests for Vagrancy
Arrests for Vandalism
Arrests for Weapons
Child abuse and neglect (per 1,000 children, age 0-17)
Child deaths (per 100,000 children, age 1-14)
Child immunization
Child poverty
Children receiving WIC
Corporal punishment
Earned income tax credit
Expulsions under zero-tolerance policies
Expulsions with educational services
Expulsions with or without educational services
Expulsions without educational services
Family investment program
Food assistance
Free or reduced-price lunch eligibility
High school graduation
Infant mortality (per 1,000 live births)
Low birth-weight
More than one out-of-school suspension
Number of juveniles
Number of juveniles age 13
Number of juveniles age 14
Number of juveniles age 15
Number of juveniles age 16
Number of juveniles age 17
Number of juveniles age < 12
Number of juveniles age > 18
One or more in-school suspensions
One or more out-of-school suspensions
Only one out-of-school suspension
PCIndex
Population
Prenatal care
Preschool
Referral to law enforcement
School-related arrests
Single parent families
Student math test scores - 8th grade
Student reading test scores - 4th grade
Students Enrolled in AP foreign language
Students Enrolled in AP mathematics
Students Enrolled in AP science
Students Enrolled in at least one AP course
Students Enrolled in other AP subjects
Students Retained
Students experiencing mechanical restraint
Students experiencing physical restraint
Students experiencing seclusion
Teen Population
Teen births
Teen deaths (per 100,000 teens, age 15-19)
Teen unmarried births
Unemployment
Uninsured Children
VCIndex

In [200]:
final_output[final_output.Description=='All Other Arrests']

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2001,2001,1708,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2002,2002,1514,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2003,2003,1522,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2004,2004,1610,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2005,2005,1534,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2006,2006,1734,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2007,2007,1689,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2008,2008,1507,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2009,2009,1371,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2010,2010,1291,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2011,2011,1256,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2012,2012,1046,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2013,2013,883,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,W,WY,NaN,2014,2014,998,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2001,2001,514,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2002,2002,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2003,2003,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2004,2004,754,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2005,2005,669,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2006,2006,825,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2007,2007,711,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2008,2008,852,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2009,2009,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2010,2010,584,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2011,2011,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2012,2012,575,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2013,2013,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,WV,NaN,2014,2014,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,M,WI,NaN,2001,2001,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,M,WI,NaN,2002,2002,29711,NaN,Arrests_2011-2012_National.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,AL,NaN,2013,2013,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,AL,NaN,2014,2014,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2001,2001,1215,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2002,2002,1026,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2003,2003,1104,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2004,2004,1036,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2005,2005,972,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2006,2006,881,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2007,2007,780,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2008,2008,742,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2009,2009,743,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2010,2010,685,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2011,2011,510,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2012,2012,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2013,2013,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,O,AK,NaN,2014,2014,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2001,2001,8596,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2002,2002,8839,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2003,2003,8415,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2004,2004,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2005,2005,8165,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2006,2006,8963,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2007,2007,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2008,2008,NaN,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2009,2009,7830,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2010,2010,7027,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2011,2011,6352,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2012,2012,5349,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2013,2013,4976,NaN,Arrests_2011-2012_National.csv
5,All Other Arrests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,4638,NaN,Arrests_2011-2012_National.csv

# Check for missing state data

* Still missing a lot of data for the arrests, need to address that
* Need to download and add back in AP participation data, 
* need to look into whether Iowa data is still missing from these or not

In [65]:
sources = np.unique(final_output.Source)
sources = [s for s in sources if not s.startswith('Iowa_downloaded')]

states = np.array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI',
       'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV',
       'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT',
       'VA', 'VT', 'WA', 'WI', 'WV', 'WY'])
print(len(states))

for source in sources:
    st = np.unique(final_output[final_output.Source==source].State)
    print(source)
    print('\t', f'Has {len(st)} states')
    for s in states:
        if not s in st:
            print('\t',f'Missing {s}')

50
AP_Participation_2011-12_National.csv
	 Has 48 states
	 Missing AL
	 Missing AR
Arrests_2011-2012_National.csv
	 Has 42 states
	 Missing CT
	 Missing DC
	 Missing MA
	 Missing NH
	 Missing NJ
	 Missing NM
	 Missing NY
	 Missing SC
	 Missing SD
Discipline_2011-2012_National.csv
	 Has 50 states
Juveniles_2015_National.csv
	 Has 50 states
Population_Race_2015_National.csv
	 Has 50 states
Restraint_Seclusion_2011-12_National.csv
	 Has 49 states
	 Missing AR
Retention_2011-12_National.csv
	 Has 50 states

# [BAD] Iowa County-Level Data

This is all the data that Cora merged last year. As of right now I am not using these data, just keeping this code here for documentation's sake

In [92]:
f = pd.read_csv("Merged County Data.csv", encoding='latin1')
print(len(f.keys()), f.keys())

45 Index(['County', 'Year', 'Total Population', 'Child Population',
       'Confirmed Children', 'Live Births', 'Low Birthweight',
       'Age 1-14 Population', 'Age 1-14 Deaths', 'Assessment Conducted',
       'Fully Immunized', 'IncomeTax Filers', 'Received EITC',
       'Family Investment', 'Food Assistance', '9th Gr. Enrollment',
       'Graduates', 'Live Births.1', 'Infant Deaths',
       '4th Gr. Math Proficiency', '8th Gr. Math Proficiency',
       '11th Gr. Math Proficiency', 'Live Births.2', 'Prenatal Care',
       '4th Gr. Reading Proficiency', '8th Gr. Reading Proficiency',
       '11th Gr. Reading Proficiency', 'Age 15-19 Female Population',
       'Live Births.3', 'Age 15-19 Population', 'Death Rates', 'Live Births.4',
       'Teen Unmarried Births', 'Labor Force', 'Unemployment ',
       'Age 0-4 Population ', 'Receiving WIC', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'County_ID', 'State_ID', 'Region_ID',
       'Division_ID'],
      dtype='object')

In [77]:
# load in the data
filename = 'Merged County Level Files.csv'
f = pd.read_csv(filename)
# create temporary output dataframe
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'])

for state, year in zip(f.STATE, f.YEAR):   
    f_temp = f[(f.STATE==state)&(f.YEAR==year)]
    keys = f.keys()[2:]
    
    values = []
    for key in keys:
        try:
            value = float(f_temp[key].iloc[0])
        except:
            print(state, year, key)
            raise
        values.append(value)
    
    Output_temp = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index = range(len(keys)))
    
    desc = np.array(list(map(''.join, zip(['Arrests for ']*len(keys), keys))))
    desc = np.where(desc=='Arrests for TeenPop', 'Teen Population', desc)
    desc = np.where(desc=='Arrests for PCIndex', 'PCIndex', desc)
    desc = np.where(desc=='Arrests for VCIndex', 'VCIndex', desc)
    desc = np.where(desc=='Arrests for AllOther', 'All Other Arrests', desc)
    
    Output_temp.Description = desc
    Output_temp.StartYear = year
    Output_temp.EndYear = year
    Output_temp.State = state
    Output_temp.Value = values
    Output_temp.Source = filename
    
    Output_temp.Country = 'US'
    Output_temp.Region = StatesToRegions[state]
    
    Output = pd.concat([Output, Output_temp])


Output
final_output = pd.concat([final_output, Output])
print(len(final_output),'rows')
final_output.tail(5)

71887 rows

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
27,Arrests for Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,NaN,NaN,Arrests_2011-2012_National.csv
28,Arrests for StolenProperty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,471,NaN,Arrests_2011-2012_National.csv
29,Arrests for Vagrancy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,0,NaN,Arrests_2011-2012_National.csv
30,Arrests for Vandalism,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,1188,NaN,Arrests_2011-2012_National.csv
31,Arrests for Weapons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US,S,NC,NaN,2014,2014,1140,NaN,Arrests_2011-2012_National.csv

In [102]:
import glob
'Iowa\\2004_IA_Rates_EITC.csv'[5:9]

'2004'

In [146]:
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'])

# EITC
filenames = glob.glob('Iowa/*EITC.csv')
for filename in filenames:
    f = pd.read_csv(filename)
    year = int(filename[5:9])

    temp = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index=range(len(f)))
    temp.Description = 'EITC Recipients'
    temp.Value = f[f'{str(year)} Received EITC']
    try:
        temp.Percent = f['Percentage.1']
    except:
        temp.Percent = f[f'{str(year)} Percentage']
    temp.StartYear = year
    temp.EndYear = year
    temp.Source = filename.split('\\')[-1]
    temp.County = f.County
    temp.State = 'IA'
    
    Output = pd.concat([Output,temp])
    
Output = Output[Output.County.notna()]
Output.head(5)

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,EITC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Adair,2004,2004,467,13.20%,2004_IA_Rates_EITC.csv
1,EITC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Adams,2004,2004,308,16.00%,2004_IA_Rates_EITC.csv
2,EITC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Allamakee,2004,2004,907,14.50%,2004_IA_Rates_EITC.csv
3,EITC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Appanoose,2004,2004,"1,067",18.90%,2004_IA_Rates_EITC.csv
4,EITC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Audubon,2004,2004,386,13.90%,2004_IA_Rates_EITC.csv

In [147]:
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'])

# Unemployment
filenames = glob.glob('Iowa/*Unemployment.csv')
for filename in filenames:
    f = pd.read_csv(filename, encoding='latin1')
    year = int(filename[5:9])
    
    temp = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index=range(len(f)))
    temp.Description = 'Unemployed'
    try:
        temp.Value = f[f'{str(year)} Unemployed']
    except:
        try:
            temp.Value = f[f'{str(year)} Unemployment ']
        except:
            temp.Value = f[f'{str(year)} Unemployment']
    try:
        temp.Percent = f['Percentage.1']
    except:
        temp.Percent = f[f'{str(year)} Percentage']
    temp.StartYear = year
    temp.EndYear = year
    temp.Source = filename.split('\\')[-1]
    temp.County = f.County
    temp.State = 'IA'
    
    Output = pd.concat([Output,temp])
    
Output = Output[Output.County.notna()]
Output.head(5)

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,Unemployed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Adair,2006,2006,150,3.30%,2006_IA_Rates_Unemployment.csv
1,Unemployed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Adams,2006,2006,100,4.80%,2006_IA_Rates_Unemployment.csv
2,Unemployed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Allamakee,2006,2006,380,4.60%,2006_IA_Rates_Unemployment.csv
3,Unemployed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Appanoose,2006,2006,350,5.40%,2006_IA_Rates_Unemployment.csv
4,Unemployed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Audubon,2006,2006,130,4.00%,2006_IA_Rates_Unemployment.csv

In [155]:
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'])

# WIC
filenames = glob.glob('Iowa/*WIC.csv')
for filename in filenames:
    f = pd.read_csv(filename, encoding='latin1')
    year = int(filename[5:9])
    
#     print(f.keys())
    
    temp = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index=range(len(f)))
    temp.Description = 'WIC Recipients'
    try:
        temp.Value = f[f'{str(year)} Receiving WIC']
    except:
        try:
            temp.Value = f[f'{str(year)} Receiving WIC ']
        except:
            temp.Value = f[f'{str(year)}   ']
    try:
        temp.Percent = f['Percentage.1']
    except:
        temp.Percent = f[f'{str(year)} Percentage']
    temp.StartYear = year
    temp.EndYear = year
    temp.Source = filename.split('\\')[-1]
    temp.County = f.County
    temp.State = 'IA'
    
    Output = pd.concat([Output,temp])
    
Output = Output[Output.County.notna()]
Output.head(5)

,Description,Grade,RaceEthnicity,Gender,Disabilities,IDEA,s504,LEP,ELL,Credentials,...,Security,Country,Region,State,County,StartYear,EndYear,Value,Percent,Source
0,WIC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Adair,2006,2006,172,50.90%,2006_IA_Rates_WIC.csv
1,WIC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Adams,2006,2006,77,38.50%,2006_IA_Rates_WIC.csv
2,WIC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Allamakee,2006,2006,146,15.10%,2006_IA_Rates_WIC.csv
3,WIC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Appanoose,2006,2006,269,35.10%,2006_IA_Rates_WIC.csv
4,WIC Recipients,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,IA,Audubon,2006,2006,80,28.80%,2006_IA_Rates_WIC.csv

In [149]:
Output = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'])

# Graduation
filenames = glob.glob('Iowa/*Graduation.csv')
for filename in filenames:
    f = pd.read_csv(filename, encoding='latin1')
    year = int(filename[5:9])
    
    print(f.keys())
    continue
    
    
    temp = pd.DataFrame(columns=['Description','Grade','RaceEthnicity','Gender','Disabilities','IDEA','s504','LEP','ELL','Credentials','Training',
                               'Security','Country','Region','State','County','StartYear','EndYear','Value','Percent','Source'], index=range(len(f)))
    temp.Description = 'WIC Recipients'
    try:
        temp.Value = f[f'{str(year)} Receiving WIC']
    except:
        try:
            temp.Value = f[f'{str(year)} Receiving WIC ']
        except:
            temp.Value = f[f'{str(year)}   ']
    try:
        temp.Percent = f['Percentage.1']
    except:
        temp.Percent = f[f'{str(year)} Percentage']
    temp.StartYear = year
    temp.EndYear = year
    temp.Source = filename.split('\\')[-1]
    temp.County = f.County
    temp.State = 'IA'
    
    Output = pd.concat([Output,temp])
    
Output = Output[Output.County.notna()]
Output.head(5)

Index(['County', '2000 9th Gr. Enrollment', '2000 Graduates', 'Percentage',
       '2006 9th Gr. Enrollment', '2006 Graduates', 'Percentage.1',
       '2000-2006 Change', 'County_ID', 'State_ID', 'Region_ID', 'Division_ID',
       'Nation_ID', 'IA_Region'],
      dtype='object')
Index(['County', '2000 9th Gr. Enrollment', '2000 Graduates', 'Percentage',
       '2007 9th Gr. Enrollment', '2007 Graduates', 'Percentage.1',
       '2000-2007 Change', 'County_ID', 'State_ID', 'Region_ID', 'Division_ID',
       'Nation_ID', 'IA_Region'],
      dtype='object')
Index(['County', '2000 9th Gr. Enrollment', '2000 Graduates',
       '2000 Percentages', '2008 9th Gr. Enrollment', '2008 Graduates',
       '2008 Percentage', '2000-2008 Change', 'County_ID', 'State_ID',
       'Region_ID', 'Division_ID', 'Nation_ID', 'IA_Region'],
      dtype='object')
Index(['County', '2000 9th Gr. Enrollment', '2000 Graduates',
       '2000 Percentage', '2009 9th Gr. Enrollment', '2009 Graduates',
       '2009 Percentage', '2000-2009 Change', 'County_ID', 'State_ID',
       'Region_ID', 'Division_ID', 'Nation_ID', 'IA_Region'],
      dtype='object')
Index(['County', '2000 9th Gr. Enrollement', '2000 Graduates',
       '2000 Percentage', '2010 9th Gr. Enrollment', '2010 Graduates',
       '2010 Percentage', '2000-2010 Change', 'County_ID', 'State_ID',
       'Region_ID', 'Division_ID', 'Nation_ID', 'IA_Region'],
      dtype='object')
Index(['County', '2000 9th Gr. Enrollment', '2000 Graduates',
       '2000 Percentage', '2011 9th Gr. Enrollment', '2011 Graduates',
       '2011 Percentage', '2000-2011 Change', 'County_ID', 'State_ID',
       'Region_ID', 'Division_ID', 'Nation_ID', 'IA_Region'],
      dtype='object')
Index(['Unnamed: 0', '2000', '2000.1', 'Unnamed: 3', '2012', '2012.1',
       'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')
Index(['Unnamed: 0', '2000', '2000.1', 'Unnamed: 3', '2013', '2013.1',
       'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')
Index(['Unnamed: 0', '2000', '2000.1', 'Unnamed: 3', '2016', 'Unnamed: 5',
       '2016.1', 'Unnamed: 7'],
      dtype='object')

Empty DataFrame
Columns: [Description, Grade, RaceEthnicity, Gender, Disabilities, IDEA, s504, LEP, ELL, Credentials, Training, Security, Country, Region, State, County, StartYear, EndYear, Value, Percent, Source]
Index: []

[0 rows x 21 columns]